language: node_js
node_js:
- '8'
cache:
  directories:
  - node_modules
script:
- npm run build
- npm run deploy
env:
  global:
    secure: aMVUi+XzL5l2bUQ6GOhq7nlVbOiE/rSLdevY6RApxy1jnm5pxa9Ekc82uY2xSoKOHUryJj7799+TyBjJTaFcgnHeyFRrl16gwxd3ngnhDCI/nFwgsrFgvSXCOyOPZgGReUk1gfJSVJHjDYlap60NRm7YLRuZD8sedZQzXGFQYxxHnCC7fnps5ZobD6TMVrkVKpsSw3pMYXUkZSEPOWoaAnIXr+xsEj/dfm9FZ/NpLe/6cCokvvcdbpKRkPWYBfkfDsWRlGxCvRVMXu39ccbj8Y76s1NCy+Ne7MOMz6MJDBrD3sw76C31BsVni7pF9v41hvMc2WY3KwtxMmYISYUo0T7/5+oppYBeLlc7yfu6lXz8FGXEV2Ioo3lMmz9lR49BdT5BIfBbmRB7fwfm4SEYfzs6gRlce4szKH+n8lD6jx08XpMbRIOPniMnkNH1ftpH20PeUWiKSCd23jDHQngQfh07R9Cq7ClOSkCanWgZ1bmNkugzkaHpx8PmMCs/vH4xYFGnUWFshzeScsE1LlPba6jP9Zf9CZi7AVtWUHm+je6bt1fZqH/CUdQvuFeeVLGuYOL4LygetJv1v0LGqH0ibyrk3uAnonQ2xKMld3SElqQ+eOiD7EL581eECEpTFZ0dap6q5UBJKaklsaZsOeDCeKm++oREXrfn5/+dg/31l7E=
notifications:
  slack:
    secure: J4GKn5vY7RmegqytRDM9Au3qFO6igMAYysZfc/OyDC+yYhz2XkVPVrbUAeLQ4fdX2SgOx5O/cmSVtvs0S8L9XtKTmJIYxVJjVTZgVmjHkImEwqKHWs6pdXPNMPzbsvFKv6QZtRHtVHvrg51vIGn5KLpWxTD6rhvH2hY8q9OO5TbUjbaXgQNqYYlwa0x6K8nTDscBSXb3kRzqqsNKKRfOUK+pb0LIzM0llP/FQbBqj3glWHRJCf7bWGi6zFqwIRg+AmG714E1aiKG7qorQWgAng9znTZ7SpobgiR6WOB7i2EqtnTAHUzrRS4kO/wxUpBCwWEpUwn+73f8axXSY7qYUPiJh18tOTyd5/2iYOe6FX3lX33Py3ePksYpNfmynFxPS1jzv6HghcTLsJ5DwlU4DewhLGeO1D2JY6uA6FmWeXF0BJAD/BEMhjIRb1f/kEv75f7tpyA+1jAzv2uQg+uiOZZKmkog0810WF8SmrS63xYY/bn137RYdYHwJA6wUxWnPnbzlwPQOF39U5t2tacJVJpxMbg4877zI4djeDWqTRFK2xzg24QVh4x17J8J+yr0OlnDkYU03yGkhRyi5t2ay1k3fS2xnMS/vjD509wkAnLFy5596vvu6sRlLP9s3QOZJWgagJbof/iJDk7W39kOWpg17eMPXZQISFEcAMj/eh8=
    on_success: change
    on_failure: always
